[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
jupyterlab = "*"
matplotlib = "*"
xlrd = "*"
geopandas = "*"
shapely = "*"
sklearn = "*"
pytest = "*"
seaborn = "*"
lightgbm = "*"
shap = "*"
plotly = "*"
psutil = "*"
statsmodels = "*"
folium = "*"
pyshp = "*"
pymannkendall = "*"
bayesian-optimization = "*"

[requires]
python_version = "3.7"
